.tenc-stats-main {
    background: linear-gradient(0deg, #f6f6f6, #fff);
    position: relative
}

.tenc-stats-main__heading {
    margin: 0 auto
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__heading {
        text-align: center;
        width: 85%
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-main__heading {
        width: 70%
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-stats-main__heading {
        width: 60%
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-stats-main__heading {
        width: 45%
    }
}

.tenc-stats-main__heading__title {
    color: #000;
    font-size: 34px;
    /*font-size: 3.4rem;*/
    /*font-family: BioSans-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    line-height: 1.35
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__heading__title {
        font-size: 30px;
        /*font-size: 3rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.87;
        letter-spacing: -.7px
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-stats-main__heading__title {
        font-size: 34px;
        font-size: 3.4rem;
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.65
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-stats-main__heading__title {
        font-size: 46px;
        /*font-size: 4.6rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -1px
    }
}

.tenc-stats-main__heading__content {
    color: #8b8b98;
    font-size: 16px;
    /*font-size: 1.6rem;*/
    /*font-family: Roboto-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    line-height: 1.75
}

.tenc-stats-main__main-stats-box {
    width: 100%;
    background: #fff;
    box-shadow: 0 42px 64px 0 #f0f0f3;
    margin: 10px 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px
}

.tenc-stats-main__main-stats-box__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-main__main-stats-box__wrapper {
        padding: 60px 0
    }
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__main-stats-box {
        -ms-flex-pack: center;
        justify-content: center;
        padding: 60px 40px;
        width: calc(50% - 18px);
        margin: 10px 15px
    }

    .tenc-stats-main__main-stats-box:nth-of-type(odd) {
        margin-left: 0
    }

    .tenc-stats-main__main-stats-box:nth-of-type(2n) {
        margin-right: 0
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-stats-main__main-stats-box {
        padding: 80px 20px;
        width: calc(25% - 22.5px);
        margin: 10px 15px
    }

    .tenc-stats-main__main-stats-box:nth-of-type(odd) {
        margin-left: 15px
    }

    .tenc-stats-main__main-stats-box:nth-of-type(2n) {
        margin-right: 15px
    }

    .tenc-stats-main__main-stats-box:first-of-type {
        margin-left: 0
    }

    .tenc-stats-main__main-stats-box:last-of-type {
        margin-right: 0
    }
}

.tenc-stats-main__main-stats-box__icon {
    margin-right: 25px
}

.tenc-stats-main__main-stats-box__number {
    font-size: 47px;
    /*font-size: 4.7rem;*/
    /*font-family: BioSans-Light, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.1px;
    color: #34b57c;
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__main-stats-box__number {
        font-size: 57px;
        /*font-size: 5.7rem;*/
        /*font-family: BioSans-Light, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        letter-spacing: -1.4px
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-stats-main__main-stats-box__number {
        font-size: 77px;
        /*font-size: 7.7rem;*/
        /*font-family: BioSans-Light, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        letter-spacing: -1.9px
    }
}

.tenc-stats-main__main-stats-box__copy {
    font-size: 14px;
    /*font-size: 1.4rem;*/
    letter-spacing: 1px;
    margin-left: 5px;
    color: #9494a4
}

.tenc-stats-main__main-stats-box__copy, .tenc-stats-main__other-stats {
    /*font-family: BioSans-SemiBold, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase
}

.tenc-stats-main__other-stats {
    text-align: center;
    font-size: 16px;
    /*font-size: 1.6rem;*/
    padding-bottom: 60px
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__other-stats {
        padding: 20px 0 60px
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-main__other-stats {
        padding: 20px 0 80px
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-stats-main__other-stats {
        padding: 20px 0 50px
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-stats-main__other-stats {
        padding: 20px 0 100px
    }
}

.tenc-stats-main__other-stats__item {
    padding: 20px;
    display: block;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .tenc-stats-main__other-stats__item {
        display: inline;
        padding: 0 30px
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-main__other-stats__item {
        padding: 0 60px
    }
}

.tenc-stats-main__other-stats__item__copy {
    color: #9494a4;
    margin-left: 5px
}

.tenc-stats-main__other-stats__item__copy--color {
    color: #34b57c
}

.tenc-stats-main-how-we-work-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0 10px
}

.tenc-stats-row {
    background-color: #fff
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-row__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

.tenc-stats-row__block {
    float: left;
    width: 100%;
    text-align: center;
    margin: 40px 0
}

.tenc-stats-row__block:first-of-type {
    margin-top: 60px
}

.tenc-stats-row__block:last-of-type {
    margin-bottom: 60px
}

@media only screen and (min-width: 768px) {
    .tenc-stats-row__block {
        width: 50%
    }

    .tenc-stats-row__block:first-of-type, .tenc-stats-row__block:nth-of-type(2) {
        margin: 60px 0 30px
    }

    .tenc-stats-row__block:nth-of-type(3), .tenc-stats-row__block:nth-of-type(4) {
        margin: 30px 0 60px
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-row__block {
        width: 25%
    }

    .tenc-stats-row__block:first-of-type, .tenc-stats-row__block:nth-of-type(2), .tenc-stats-row__block:nth-of-type(3), .tenc-stats-row__block:nth-of-type(4) {
        margin: 100px 0
    }
}

.tenc-stats-row__digit {
    font-size: 72px;
    /*font-size: 7.2rem;*/
    /*font-family: BioSans-Light, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    color: #5e1fe4;
    margin: 0 0 40px
}

@media only screen and (min-width: 768px) {
    .tenc-stats-row__digit {
        margin: 0 0 30px
    }
}

.tenc-stats-row__metric {
    font-size: 22px;
    /*font-size: 2.2rem;*/
    /*font-family: BioSans-Light, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    color: #202020;
    display: inline-block
}

@media only screen and (min-width: 768px) {
    .tenc-stats-row__metric {
        font-size: 36px;
        /*font-size: 3.6rem*/
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-stats-row__metric {
        font-size: 22px;
        /*font-size: 2.2rem*/
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-stats-row__metric {
        font-size: 36px;
        /*font-size: 3.6rem*/
    }
}

.tenc-stats-row__txt {
    font-size: 16px;
    /*font-size: 1.6rem;*/
    /*font-family: BioSans-Bold, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    color: #7a7981;
    margin: 0;
    text-transform: uppercase
}
