
.tenc-preheading {
    font-size: 13px;
    /*font-size: 1.3rem;*/

    color: #8658eb;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0
}

.tenc-heading, .tenc-preheading {
    font-style: normal;
    font-weight: 400
}

.tenc-heading {
    font-size: 26px;
    /*font-size: 2.6rem;*/
    /*font-family: BioSans-Light, sans-serif;*/
    color: #fff;
    line-height: 1.4em;
    letter-spacing: -1.4px;
    margin: 0;
    padding: 80px 0 0;
    text-align: left
}

@media only screen and (min-width: 768px) {
    .tenc-heading {
        font-size: 36px;
        /*font-size: 3.6rem;*/
        line-height: 1.5em;
        padding: 100px 0 0
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-heading {
        padding: 80px 0 0
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading {
        font-size: 48px;
        /*font-size: 4.8rem;*/
        padding: 140px 0 0
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading {
        padding: 150px 0 0
    }
}

.tenc-heading--black {
    color: #000;
    padding: 20px 0
}

.tenc-heading--regular {
    /*font-family: sans-serif;*/
    font-style: normal;
    font-weight: 400
}

.tenc-heading-frontpage {
    font-size: 34px;
    /*font-size: 3.4rem;*/
    /*font-family: BioSans-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
    color: #000;
    text-align: left
}

@media only screen and (min-width: 768px) {
    .tenc-heading-frontpage {
        font-size: 25px;
        /*font-size: 2.5rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.53em;
        letter-spacing: -.7px
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading-frontpage {
        font-size: 34px;
        /*font-size: 3.4rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.35
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading-frontpage {
        font-size: 46px;
        /*font-size: 4.6rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.22;
        letter-spacing: -1px
    }
}

.tenc-heading-frontpage--white {
    color: #fff
}

.tenc-heading-frontpage--small-margin {
    margin: 20px 0
}

.tenc-heading-frontpage__subsection {
    font-size: 17px;
    /*font-size: 1.7rem;*/
    /*font-family: Roboto-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #8b8b98;
    margin-bottom: 30px
}

@media only screen and (min-width: 768px) {
    .tenc-heading-frontpage__subsection {
        font-size: 15px;
        /*font-size: 1.5rem;*/
        /*font-family: Roboto-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 1.93
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading-frontpage__subsection {
        font-size: 17px;
        /*font-size: 1.7rem;*/
        /*font-family: Roboto-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400;
        line-height: 2
    }
}

.tenc-heading-frontpage__subsection--white {
    color: #fff
}

.tenc-heading-frontpage--services-mobile {
    margin: 100px 0 0;
    text-align: left
}

.tenc-heading--secondary {
    font-size: 26px;
    /*font-size: 2.6rem;*/
    margin: 10px 0;
    letter-spacing: -.6px
}

.tenc-heading--3d {
    font-size: 26px;
    /*font-size: 2.6rem;*/
    position: relative
}

@media only screen and (min-width: 768px) {
    .tenc-heading--3d {
        font-size: 38px;
        /*font-size: 3.8rem*/
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading--3d {
        font-size: 46px;
        /*font-size: 4.6rem*/
    }
}

.tenc-heading--underlined:after {
    background: #00d69e;
    content: "";
    display: block;
    height: 2px;
    margin: 25px 0 50px;
    width: 70px
}

.tenc-heading--underlined-purple:after {
    background: #5e1fe4
}

.tenc-heading--underlined-white:after {
    background: #fff
}

.tenc-heading--underlined-small:after {
    margin-bottom: 25px
}

.tenc-heading--underlined-even-margin:after {
    margin: 25px 0
}

.tenc-heading--no-padding {
    padding-top: 0
}

.tenc-heading--center {
    text-align: center
}

.tenc-heading--dark {
    color: #202020
}

@media only screen and (min-width: 1366px) {
    .tenc-heading--hero {
        font-size: 44px;
        /*font-size: 4.4rem*/
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading--hero {
        font-size: 64px;
        /*font-size: 6.4rem;*/
        letter-spacing: -.02em;
        line-height: 1em
    }
}

.tenc-heading--hero--trustedmail {
    font-size: 36px;
    /*font-size: 3.6rem*/
}

@media only screen and (min-width: 768px) {
    .tenc-heading--hero--trustedmail {
        font-size: 46px;
        /*font-size: 4.6rem*/
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-heading--hero--trustedmail {
        font-size: 48px;
        /*font-size: 4.8rem*/
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading--hero--trustedmail {
        font-size: 60px;
        /*font-size: 6rem*/
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading--hero--trustedmail {
        font-size: 76px;
        /*font-size: 7.6rem*/
    }
}

.tenc-heading--hero--bold {
    font-family: BioSans-Bold, sans-serif;
    font-style: normal;
    font-weight: 400
}

.tenc-heading--intro {
    font-size: 24px;
    /*font-size: 2.4rem;*/

    font-style: normal;
    font-weight: 400;
    line-height: 1.5em
}

@media only screen and (min-width: 1024px) {
    .tenc-heading--intro {
        font-size: 28px;
        /*font-size: 2.8rem*/
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-heading--intro {
        font-size: 30px;
        /*font-size: 3rem*/
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading--intro {
        font-size: 34px;
        /*font-size: 3.4rem*/
    }
}

.tenc-heading--subsection {
    font-size: 36px;
    /*font-size: 3.6rem;*/
    padding-bottom: 15px
}

.tenc-heading--subsection-gray {
    font-size: 18px;
    /*font-size: 1.8rem;*/
    color: #8b8b98;
    margin-bottom: 30px;
    margin-top: -15px
}

@media only screen and (min-width: 768px) {
    .tenc-heading--subsection-gray {
        font-size: 24px;
        /*font-size: 2.4rem*/
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-heading--subsection-gray {
        font-size: 30px;
        /*font-size: 3rem;*/
        margin-top: -25px
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-heading--subsection-gray {
        margin-top: 0
    }
}

.tenc-heading--subsection-green {
    color: #3be98b
}

@media only screen and (min-width: 1024px) {
    .tenc-heading--subsection-green {
        font-size: 24px;
        /*font-size: 2.4rem*/
    }
}

.tenc-heading--subsection-sm {
    font-size: 24px;
    /*font-size: 2.4rem;*/
    padding-bottom: 5px
}

.tenc-heading--subsection-sm:after {
    margin: 10px 0 20px;
    width: 30px
}

.tenc-heading--resources {
    font-size: 21px;
    /*font-size: 2.1rem;*/
    /*font-family: BioSans-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0
}

@media only screen and (min-width: 768px) {
    .tenc-heading--resources {
        font-size: 24px;
        /*font-size: 2.4rem;*/
        /*font-family: BioSans-Regular, sans-serif;*/
        font-style: normal;
        font-weight: 400
    }
}

.tenc-subheading {
    font-size: 14px;
    /*font-size: 1.4rem;*/

    font-style: normal;
    font-weight: 400;
    color: #fff;
    letter-spacing: .06em;
    line-height: 1.5em;
    margin: 0;
    padding: 40px 0 30px;
    text-transform: uppercase;
    white-space: normal
}

.tenc-subheading--normalcase {
    font-size: 16px;
    /*font-size: 1.6rem;*/
    /*font-family: sans-serif;*/
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 20px;
    color: #000;
    letter-spacing: .02em;
    display: block;
    position: relative;
    text-transform: none
}

@media only screen and (min-width: 768px) {
    .tenc-subheading--normalcase {
        font-size: 19px;
        /*font-size: 1.9rem;*/
        /*font-family: sans-serif;*/
        font-style: normal;
        font-weight: 400
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-subheading--normalcase {
        font-size: 21px;
        /*font-size: 2.1rem;*/
        /*font-family: sans-serif;*/
        font-style: normal;
        font-weight: 400
    }
}

@media only screen and (min-width: 1920px) {
    .tenc-subheading--normalcase {
        font-size: 24px;
        /*font-size: 2.4rem;*/
        /*font-family: sans-serif;*/
        font-style: normal;
        font-weight: 400
    }
}

.tenc-subheading--normalcase-sm {
    font-size: 16px;
    /*font-size: 1.6rem;*/
    /*font-family: sans-serif;*/
    font-style: normal;
    font-weight: 400;
    color: #000;
    text-transform: none;
    letter-spacing: .02em;
    padding: 15px 0 0
}

@media only screen and (min-width: 768px) {
    .tenc-subheading--normalcase-sm {
        font-size: 18px;
        /*font-size: 1.8rem;*/
        /*font-family: sans-serif;*/
        font-style: normal;
        font-weight: 400;
        padding: 15px 0
    }
}

.tenc-subheading--subsection {
    margin-top: -40px
}

.tenc-subheading--sm-padding {
    padding-bottom: 5px
}

@media only screen and (min-width: 768px) {
    .tenc-subheading--sm-padding {
        padding-bottom: 15px
    }
}

.tenc-subheading--purple {
    color: #5e1fe4
}

.tenc-subheading--white {
    color: #fff
}

.tenc-subheading--center {
    text-align: center
}

.tenc-subheading--dot {
    padding-right: 7px
}

.tenc-subheading--dot:after {
    color: #00d69e;
    content: ".";
    display: inline-block;
    margin-left: -4px
}

.tenc-subheading--colon:after {
    color: #00d69e;
    content: ":";
    display: inline-block;
    margin-left: -3px
}

.tenc-subheading--colon-purple:after {
    color: #5e1fe4
}

.tenc-subheading--dark {
    color: #202020;
    line-height: 1.15em
}

.tenc-subheading--no-padding {
    padding: 0
}

.tenc-subheading--centered {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto
}

.tenc-copy {
    letter-spacing: .02em;
    line-height: 1.7em;
    color: #8b8b98
}

.tenc-copy, .tenc-copy--header {
    font-size: 15px;
    /*font-size: 1.5rem;*/
    /*font-family: Roboto-Regular, sans-serif;*/
    font-style: normal;
    font-weight: 400
}

.tenc-copy--header {
    line-height: 1.8em
}

.tenc-copy--dark {
    color: #8b8b98
}

.tenc-copy--xdark {
    color: #48484c
}

.tenc-copy--light {
    color: #fff
}

.tenc-copy--light-dark {
    color: #c1c1d0
}

.tenc-copy--purple-light {
    color: #cac4dd
}

.tenc-copy--no-margin {
    margin: 0
}

@media only screen and (min-width: 1366px) {
    .tenc-copy__wrapper--short {
        width: 40%
    }
}

.tenc-copy__first-line {
    display: block;
    position: relative;
    line-height: 1.8em
}

.tenc-copy__first-line:first-letter {
    padding-left: 65px
}

.tenc-copy__first-line:before {
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    background: #00d69e;
    position: absolute;
    left: 0;
    top: 13px
}

@media only screen and (min-width: 768px) {
    .tenc-copy__first-line:before {
        top: 11px
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-copy__first-line:before {
        top: 8px
    }
}

@-moz-document url-prefix() {
    .tenc-copy .tenc-copy__first-line {
        padding-left: 65px
    }
    .tenc-copy .tenc-copy__first-line:before {
        top: 11px
    }
}

.tenc-copy--featured {
    font-size: 14px;
    /*font-size: 1.4rem;*/

    font-style: normal;
    font-weight: 400;
    color: #202020;
    text-transform: uppercase;
    letter-spacing: 1.1px
}

@media only screen and (min-width: 768px) {
    .tenc-copy--featured {
        font-size: 12px;
        /*font-size: 1.2rem;*/

        font-style: normal;
        font-weight: 400
    }
}

@media only screen and (min-width: 1024px) {
    .tenc-copy--featured {
        font-size: 14px;
        /*font-size: 1.4rem;*/

        font-style: normal;
        font-weight: 400
    }
}

@media only screen and (min-width: 1366px) {
    .tenc-copy--featured {
        font-size: 16px;
        /*font-size: 1.6rem;*/

        font-style: normal;
        font-weight: 400
    }
}

.tenc-underlined {
    text-decoration: underline
}

.tenc-underlined:active, .tenc-underlined:focus, .tenc-underlined:hover {
    text-decoration: underline !important
}
