title = "Services"
url = "/services"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Nishan\Services\Models\Service"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "service-details"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% put styles %}
<style>
    .tenc-universal-template-how-we-work-wrapper {
        background-image: linear-gradient(90deg, #091b16, rgba(9, 27, 22, 0.90) 35%, rgba(1, 32, 17, 0.8) 70%, rgba(1, 32, 17, 0.6)), url(/assets/images/mgbanner/service-details.jpg);
    }
</style>
<style>
    .tenc-intro--how-we-work {
        background: linear-gradient(90deg, #091b16, rgba(9, 27, 22, 0.90) 35%, rgba(1, 32, 17, 0.8) 70%, rgba(1, 32, 17, 0.6)), url({{ 'assets/images/mgbanner/service_banner_1.png' |theme }});
    }
</style>
<style>
    .tenc-intro {
        min-height: 300px;
        max-height: 350px;
    }

    @media screen and (min-width: 300px) and (max-width: 767px) {
        .tenc-intro {
            min-height: 300px;
            max-height: 350px;
        }

    }

    @media screen and (min-width: 768px) and (max-width: 4000px) {
        .tenc-intro {
            min-height: 300px;
            max-height: 350px;
        }

    }

</style>
<style>
    .tenc-intro-main__wrapper {
        max-width: 100%;
    }

    .tenc-intro-main__wrapper {
        margin: 0;
        position: absolute;
        top: 58%;
        transform: translateY(-55%);
        width: 90%;
    }

    .top-banner {
        height: 440px;
    }

    .tenc-intro-main__buttons {
        -ms-flex-direction: column;
        flex-direction: column;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }

    @media screen and (min-width: 1200px) and (max-width: 1400px) {
        .tenc-intro-main__wrapper {
            max-width: 100%;
        }

        .tenc-intro-main__wrapper {
            margin: 0;
            position: absolute;
            top: 58%;
            transform: translateY(-55%);
            width: 86%;
        }
    }


    .home .top-banner .logos {
        position: absolute;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .more-service {
        text-decoration: none
    }

    .service-cont {
        padding: 5px 50px 0px 50px !important;
    }

</style>
{% endput %}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% put meta %}
{% for record in records %}
{% if loop.index == 1 %}
{% for each in record.meta %}
<title>{{each.meta_title}}</title>
<meta name="title" content="{{each.meta_title}}">
<meta name="description" content="{{each.meta_description}}">
<meta name="twitter:title" content="{{each.meta_title}}">
<meta name="twitter:description" content="{{each.meta_description}}">
{% endfor %}
{% endif %}
{% endfor %}
{% endput %}

<main role="main" id="main">

    <section class="tenc-intro tenc-intro--how-we-work">
        <div class="continer">
            <div class="tenc-intro-main__wrapper
                tenc-intro-main__wrapper--short">
                <div class="tenc-intro-main mt-4">

                    <h1 class="h2 fw-600 tenc-intro-main__title text-center color-white">
        <span class="tenc-intro-main__title-part">
          All Services
        </span>
                    </h1>
                    <div class="tenc-intro-main__content mb-0">
                        <h2 class="tenc-intro-main__content-copy color-white text-center">
                            Here you can navigate through all services we provide.
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="tenc-how-we-work-transparency pt-3">
        <div class="continer">

            <div class="tenc-how-we-work-transparency__content">

                <div class="tenc-how-we-work-transparency__content-boxes mt-3">


                    {% for record in records %}
                    <div class="tenc-how-we-work-transparency__content-boxes-item
                    tenc-how-we-work-transparency__content-boxes-item1                    tenc-animated--fadeUpSequence">
                        <div class="tenc-how-we-work-transparency__content-boxes-item__header">
                            <img class="tenc-how-we-work-transparency__content-boxes-item__icon"
                                 src="{{ record.icon.path }}"
                                 alt="Transparency icon">
                            <h4 class="tenc-how-we-work-heading--tertiary tenc-how-we-work-transparency__heading">
                                {% spaceless %}
                                {% if detailsPage %}
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    {% endif %}

                                    {{ record.name }}

                                    {% if detailsPage %}
                                </a>
                                {% endif %}
                                {% endspaceless %}
                            </h4>
                        </div>
                        <p class="tenc-how-we-work-copy
                    tenc-how-we-work-copy--small">{{ record.description }}</p>
                    </div>
                    {% else %}
                    <div class="no-data">{{ noRecordsMessage }}</div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    {% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
    {% endif %}

</main>
